*{
    margin:o;
    padding:0;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color:#fff;
}
.attribution{
    text-align: center;
    font-size: 10px;
}
.estado{
    margin:auto;
    display: flex;
    flex-direction: row;
    border: solid 3px rgba(255, 255, 255, 0.336);
    border-radius: 10px;;
    padding:20px;
    width:40%;
    justify-content: space-between;
    font-weight: 600;
    line-height: 30px;
}

.item{
    margin:0;
}
.score{
    padding:10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color:rgb(4, 0, 37);
    font-size: 14px;
}
.numero{
    font-size: 40px;
    color:rgb(32, 32, 32);
}
.title{
    font-size: 30px;
    width:150px;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
}

.botones{
    margin:auto;
    margin-top: 80px;
    display: flex;
    width: 400px;
    justify-content: center;
    flex-wrap: wrap;

}

.boton 
{
    padding:30px;
    margin:10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.piedra{
    border:15px solid #DB2E4D;
    box-shadow: inset 0em 0.5em #BABFD4, 0em 0.7em #9D1634;
}
.papel{
    border: 15px solid #4865f4;
    box-shadow: inset 0em 0.5em #BABFD4, 0em 0.7em #2A45C2;
}
.tijera{
    border: 15px solid#ec9e0e;
    -webkit-box-shadow: inset 0em 0.5em #BABFD4, 0em 0.7em #C76C1B;
    box-shadow: inset 0em 0.5em #BABFD4, 0em 0.7em #C76C1B;
    
}

.resultado{
    margin:auto;
    margin-top: 80px;
    display: flex;
    width: 400px;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

}


.cpu{
    padding-left:57px;
    text-shadow: 2px 2px 2px #CECECE;
    
}
.jugador{
    padding-left:35px;
    text-shadow: 2px 2px 2px #CECECE;

}
.resultadofinal{
    padding:10px;
    align-content: center;
    margin:auto;
    margin-top: 20px;
    width: max-content;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    display:flex;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
}

.jugar{
    padding:15px;
    align-content: center;
    margin:auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 9, 48);
    width:150px;
    text-align: center;
    font-weight: 600;
    cursor:pointer;
    
}
.jugar:hover{
    background-color: rgb(216, 216, 216);
}
.jugar:active{
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);

}

/*se aplica cuando el ancho es menor a 800*/
@media screen and (max-width:600px){
    .estado{
        width:80%;
        margin:auto;
    }
    .botones{
        width:300px;
        margin-top:65px;
        flex-wrap: wrap;

    }
    .boton{
        width: 40px;
        height:40px;
 
    }
    .resultado{
        width:100%;
        margin:auto;
        margin-top:50px;
        justify-content: space-around;
    }

    .attribution{
        margin-top:80px;
    }
}

.attribution{
    position:fixed;
    bottom:10px;
    margin-left:2%;
    margin-top:2%;
    width:96%;
    font-size: 12px;

}

a{
    text-decoration: none;
    color: rgb(67, 201, 123);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-weight: 600;
}
a:hover{
    color: rgb(0, 255, 106);
}
